name: Spidercs

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '18'
        distribution: 'temurin'
        
    - name: Delete workflows
      uses: Mattraks/delete-workflow-runs@v2
      with:
        token: ${{ github.token }}
        repository: ${{ github.repository }}
        retain_days: 0 
        #The number of days that is used to compare with the retention days of each workflow.
        keep_minimum_runs: 2 
        #The minimum runs to keep for each workflow.
        
    - name: Clone project
      run: |
        rm -rf jar/custom_spider.jar
        git clone --recurse-submodules https://github.com/FongMi/CatVodSpider project
      
    - name: Customize Spider
      working-directory: ./project
      run: |

         #删除垃圾爬虫
         rm -rf app/src/main/java/com/github/catvod/spider/Ali.java
         rm -rf app/src/main/java/com/github/catvod/spider/Doll.java
         rm -rf app/src/main/java/com/github/catvod/spider/Eighteen.java
         rm -rf app/src/main/java/com/github/catvod/spider/Hanime.java
         rm -rf app/src/main/java/com/github/catvod/spider/JSDemo.java
         rm -rf app/src/main/java/com/github/catvod/spider/Jable.java
         rm -rf app/src/main/java/com/github/catvod/spider/Jianpian.java
         rm -rf app/src/main/java/com/github/catvod/spider/Kanqiu.java
         rm -rf app/src/main/java/com/github/catvod/spider/Miss.java
         rm -rf app/src/main/java/com/github/catvod/spider/Notice.java                  
         rm -rf app/src/main/java/com/github/catvod/spider/PanSearch.java
         rm -rf app/src/main/java/com/github/catvod/spider/PanSou.java
         rm -rf app/src/main/java/com/github/catvod/spider/Star.java
         rm -rf app/src/main/java/com/github/catvod/spider/UpYun.java
         rm -rf app/src/main/java/com/github/catvod/spider/Wogg.java
         rm -rf app/src/main/java/com/github/catvod/spider/XiaoZhiTiao.java
         rm -rf app/src/main/java/com/github/catvod/spider/YiSo.java
         rm -rf app/src/main/java/com/github/catvod/spider/Zhaozy.java

         #删除阿里云盘
         rm -rf app/src/main/java/com/github/catvod/api
         rm -rf app/src/main/java/com/github/catvod/bean/ali
         rm -rf app/src/main/java/com/github/catvod/bean/upyun

         sed -i "22,31d" app/src/main/java/com/github/catvod/spider/Push.java
         sed -i "/ali.player/c return null;" app/src/main/java/com/github/catvod/spider/Push.java
         sed -i "/ali.detail/d" app/src/main/java/com/github/catvod/spider/Push.java
         sed -i "/\"ali\"/d;/return Ali/d" app/src/main/java/com/github/catvod/spider/Proxy.java
         
         #删除Doll残留
         sed -i "/Doll/d" app/src/main/java/com/github/catvod/debug/MainActivity.java

         #增加zhixc爬虫
         curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/Anime1.java > app/src/main/java/com/github/catvod/spider/Anime1.java
         mkdir app/src/main/java/com/github/catvod/utils/okhttp
         curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/utils/okhttp/OkHttpUtil.java > app/src/main/java/com/github/catvod/utils/okhttp/OkHttpUtil.java
         curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/utils/okhttp/OKCallBack.java > app/src/main/java/com/github/catvod/utils/okhttp/OKCallBack.java
         curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/utils/okhttp/SSLSocketFactoryCompat.java > app/src/main/java/com/github/catvod/utils/SSLSocketFactoryCompat.java
         curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/utils/okhttp/OKRequest.java > app/src/main/java/com/github/catvod/utils/okhttp/OKRequest.java

         #增加drizzle888爬虫
         curl -L https://raw.githubusercontent.com/drizzle888/CatVodTVSpider/refs/heads/master/app/src/main/java/com/github/catvod/spider/Auete.java > app/src/main/java/com/github/catvod/spider/Auete.java
         curl -L https://raw.githubusercontent.com/drizzle888/CatVodTVSpider/refs/heads/master/app/src/main/java/com/github/catvod/crawler/SpiderReq.java > app/src/main/java/com/github/catvod/crawler/SpiderReq.java
         curl -L https://raw.githubusercontent.com/drizzle888/CatVodTVSpider/refs/heads/master/app/src/main/java/com/github/catvod/crawler/SpiderReqResult.java > app/src/main/java/com/github/catvod/crawler/SpiderReqResult.java
         curl -L https://raw.githubusercontent.com/drizzle888/CatVodTVSpider/refs/heads/master/app/src/main/java/com/github/catvod/crawler/SpiderUrl.java > app/src/main/java/com/github/catvod/crawler/SpiderUrl.java

         #增加xyzjhe爬虫
         curl -L https://raw.githubusercontent.com/xyzjhe/test_jar/refs/heads/main/app/src/main/java/com/github/catvod/spider/Freeok.java > app/src/main/java/com/github/catvod/spider/Freeok.java

    - name: Build the Jar
      working-directory: ./project
      run: |
         chmod +x gradlew
         cat app/src/main/java/com/github/catvod/spider/Push.java
         ./gradlew assemblerelease --build-cache --parallel --daemon --warning-mode all
         
    - name: Customize Spider Jar
      working-directory: ./project
      run: |        
         rm -rf jar/custom_spider.jar
         rm -rf jar/spider.jar/original/META-INF
         curl -L https://github.com/iBotPeaches/Apktool/releases/download/v2.7.0/apktool_2.7.0.jar > jar/3rd/apktool_2.7.0.jar
         java -jar jar/3rd/baksmali-2.5.2.jar d app/build/intermediates/dex/release/minifyReleaseWithR8/classes.dex -o jar/Smali_classes
         mkdir -p jar/spider.jar/smali/com/github/catvod/
         mv jar/Smali_classes/com/github/catvod/spider jar/spider.jar/smali/com/github/catvod/         
         java -jar jar/3rd/apktool_2.7.0.jar b jar/spider.jar -c
         mv jar/spider.jar/dist/dex.jar ../jar/custom_spider.jar
         #md5=($(md5sum ../jar/custom_spider.jar))
         echo $(md5sum ../jar/custom_spider.jar | awk '{print $1}') > ../jar/custom_spider.jar.md5
         
    - name: Upload APK
      uses: actions/upload-artifact@v3.1.2
      with:
        name: Spider
        path: ./jar/custom_spider.jar

    - name: Update spider jar      
      uses: EndBug/add-and-commit@v9.1.3
      with:
        default_author: github_actions
        message: 'update spider jar'
        add: "['./jar/custom_spider.jar', './jar/custom_spider.jar.md5']"